/*BUSCADOR*/
.container-1{
    width: 300px;
    /*vertical-align: middle;*/
    white-space: nowrap;
    /*position: relative;*/
}

.a{
   color:rgb(0, 255, 200);
}

.container-1 input#buscar_1{
    width: 150px;
    height: 30px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.container-1 input#buscar_1:-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#buscar_1:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#buscar_1:-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#buscar_1:-ms-input-placeholder {  
    color: #65737e;  
 }